body{
  background-color:#ffdead;
  font-family:Helvetica,sans-serif;
}
table{
  border-spacing:1px;
  border:1px solid #7d6c55;
}
th{
  background-color:#e6c89c;
  border:1px solid #cc936b;
}
td{
  text-align:center;
  border:1px solid #cc936b;
  background-color:#f2c694;
}
.break{
  border-color:#ffdead;
  background-color:#ffdead;
}
footer{
  margin:5px;
}
