#intro{
 position:relative;
 left:510px;
 top:-360px;
 width:250px;
}
body{
  background-color:#ffdead;
  font-family:Helvetica,sans-serif;
}
table{
  border-spacing:0px;
  border-color:#7d6c55;
  border-style:solid;
  border-width:1px;
}
th{
  background-color:#e6c89c;
  border-color:#cc936b;
  border-style:solid;
  border-width:1px;
}
td{
  text-align:center;
  border-color:#cc936b;
  border-style:solid;
  border-width:1px;
}
