p{
 padding-right:12cm;
}
body{
  background-color:#ffdead;
  font-family:Helvetica,sans-serif;
}
h1{
  font-family:serif;
}
table{
  border-spacing:0px;
  border-color:#7d6c55;
  border-style:solid;
  border-width:1px;
}
th{
  background-color:#e6c89c;
  border-color:#cc936b;
  border-style:solid;
  border-width:1px;
}
td{
  text-align:center;
  border-color:#cc936b;
  border-style:solid;
  border-width:1px;
}
